.other{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 50, 50);
  width: 100%; /* Full width on all devices */
  max-width: 1200px; /* Maximum width for larger screens */
  padding: 6px;
  border-radius: 10px;
}

.other div{
  margin: 10px 20px 4px 20px;
  color: beige;
  font-size: small;
  text-align:center;
}
